// @import "../layout/content-sidebar";
// @import "../layout/sidebar-content";

/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
@import "primary/posts-and-pages";


.structure-conference{
    display: flex;
    margin-bottom: 2vh;
}
.structure-conference div {
    display: flex;
    flex-direction: column-reverse;
    margin-left: 10px;
}
.structure-conference div h1{
    margin-top: 0;
}
.site-branding{
    display: none;
}
#primary-menu{
    display: none;
}
.post-thumbnail img{
    width: 100%;
}
.structure-nouvelle{
    flex: 1 1 25%;
    display: flex;
    flex-direction: column-reverse;
}
.container{
    width: 1200px;
    margin: 0 auto;
}
.div-nouvelle{
    display: flex;
}
a{
    text-decoration: none;
}
.section-grid{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: repeat(31, 20px [col-start]);
}
.a-link-evn{
    margin-top: 40px;
}
.structure-evenement{
    display: flex;
}
.p-tittle{
    margin-right: 10px;
}
.section-grid p {
    margin-top: 0;
}
.border-div{
    display: flex;
    border: 1px solid black;
}
/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
//@import "primary/comments";
